.file-uploader-container {
  max-width: 80%; /* Ancho máximo del contenedor */
  max-height: 80%; /* Altura máxima del contenedor */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  margin-bottom: 2%;
  transition: background-color 0.3s ease; /* Agrega una transición suave */
}

    
/* Estilos para el icono SVG dentro del contenedor */
.file-uploader-svg-container svg {
  width: 50%; /* Ancho del SVG al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}


  /* Estilos para el mensaje debajo del icono SVG */
  .file-uploader-message {
    font-family: 'Inter', sans-serif;
    margin-top: 10px; /* Espacio superior para separar el mensaje del icono */
    font-weight: 500; /* Misma fuente en negrita */
    font-size: 24px; /* Mismo tamaño de fuente */
    letter-spacing: 2px; /* Mismo espaciado entre letras */
    color: #1DB4BB; /* Mismo color de texto */
    text-align: center; /* Centra horizontalmente el texto */
  }

  .background-overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  /* Estilos para el mensaje de tipos de archivo */
  .file-types {
    display: none;
  }

  /* Otros estilos según sea necesario */
  .fileUploader {
    margin: 5%;
    border: 2px dashed #1DB4BB;
    padding: 20px;
    text-align: center;
    outline: none; /* Agregar esta línea para eliminar el borde azul predeterminado */
  }

  .fileUploader:hover {
    transition: all 0.5s ease;
    background-color: #e4e4e486;
    transform: scale(1.05);
    border-radius: 15px;
    border: 1px solid #1DB4BB;
  }

  .fileUploader input[type="file"] {
    display: none;
  }

  .fileUploader label {
    cursor: pointer;
  }
