.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu li:last-child {
    margin-right: 0;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  
  .nav-menu li a:hover {
    color: #1DB4BB;
  }
  