.download-container {
  width: 50vw;
  min-width: 320px;
  max-height: 90vh;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.download-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.download-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
  color: #1DB4BB;
  text-align: center;
  margin-bottom: 0;
}

.startButton {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #1DB4BB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.startButton:hover {
  background-color: #148A94;
}

.addBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox > p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.textInput, .optionsInput {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #1DB4BB;
  border-radius: 10px;
  margin: 10px 0;
  align-items: center;
}

.options-input-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput::placeholder, .optionsInput::placeholder {
  font-size: 14px; 
  color: #888; 
}

.optionsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.options-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.options-added-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options-added-list li {
  padding: 5px 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #333;
}

.addButton, .downloadButton, .addAnotherButton {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  padding: 6px 12px; 
  background-color: #1DB4BB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  align-self: center;
  justify-content: center;
}

.addButton:hover, .downloadButton:hover, .addAnotherButton:hover {
  background-color: #148A94;
}

.addButton {
  font-size: 12px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; /* Añade espacio entre los botones */
  width: 100%;
}

.addAnotherButton {
  /*background-color: #FFC107;*/
  background-color: #1DB4BB;
}

.addButton {
  font-size: 12px;
  padding: 5px 10px; /* Reduce el padding para hacer el botón más pequeño */
}

.addAnotherButton:hover {
  background-color:#148A94;
}

.roundButton {
  display: flex;
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  margin-left: 10px;
  background-color: #1DB4BB; 
  border: none; 
  cursor: pointer; 
}

.roundButton:hover {
  background-color: #148A94; 
}

.add-ability-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.addSkillButton {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #1DB4BB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
  justify-content: center;
}

.addSkillButton:hover {
  background-color: #148A94;
}

.skills-added-list {
  list-style-type: none; /* Elimina los marcadores de viñeta */
  padding: 0; /* Elimina el relleno predeterminado */
}

.skills-added-list li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
  font-size: 24px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.skills-list h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Peso de la fuente */
  font-size: 18px; /* Tamaño de la fuente */
  color: #1DB4BB; /* Color del texto */
}

.switch-button-container {
  display: flex;
}

.switch-button {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 16px;
  cursor: pointer;
}

.switch-button.active {
  background-color: #148A94;
  color: #fff;
}

.additionalInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

