.download-container {
  width: 50vw; /* Ancho del contenedor */
  min-width: 320px;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #ffffff; /* Color de fondo */
  border-radius: 24px; /* Radio de borde para esquinas redondeadas */
  display: flex; /* Usa flexbox para el diseño */
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center; /* Centra horizontalmente los elementos */
  position: relative;
  padding: 10px;
}

.download-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.download-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Misma fuente en negrita */
  font-size: 50px; /* Mismo tamaño de fuente */
  letter-spacing: 2px; /* Mismo espaciado entre letras */
  color: #1DB4BB; /* Mismo color de texto */
  text-align: center; /* Centra horizontalmente el texto */
  margin-bottom: 0;
}

.attribute-slider-container {
  width: 100%;
  margin-top: 20px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 24px;
}

.inputBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.textInput {
  border: none;
  width: 100%;
  background: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.textInput:focus {
  outline: none;
  box-shadow: none;
}

.additionalInput {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.optionsInput {
  border: none;
  width: 80%;
  background: none;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #ccc;
}

.optionsInput:focus {
  outline: none;
  box-shadow: none;
}

.addOptionButton {
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.addOptionButton p {
  margin: 0;
  font-size: 16px;
  color: #111;
}

.addOptionButton:hover {
  border-color: #1DB4BB;
}

.addOptionButton:hover p {
  color: #1DB4BB;
}

.addOptionButton svg {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.addOptionButton:hover svg {
  transform: translateX(4px);
  color: #1DB4BB;
}

.skills-added-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-added-list li {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.skills-list {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.skills-list h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1DB4BB;
}

.addButton {
  color: white;
  background-color: #1DB4BB;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.addButton:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

.addButton:active {
  box-shadow: none;
  transform: translateY(0);
}
