.home {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr auto; /* Divide la pantalla en dos columnas, la primera ocupa el espacio restante */
    height: 100vh; /* Toma toda la altura de la ventana del navegador */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center;
  }
  
  .line {
    height: 50%;
    border-right: 2px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .welcome {
    padding: 20px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    margin-top: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Asegura que el overlay esté sobre todo */
  }
  
  .form-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  