/* Estilos para la página de Equipos */
.equipos-container {
  margin-top: 10px;
  max-height: 90vh;/* Establecer una altura mínima igual al 100% del viewport */
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3FDFD; /* Fondo celeste pastel */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.equipos-container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #007B83; /* Color del título */
  margin-bottom: 20px;
}

.equipos-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.equipo-item {
  cursor: pointer;
  border-radius: 20px; /* Bordes más redondeados */
  margin-bottom: 15px;
  padding: 20px;
  width: 100%;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mejorada */
  border-left: 5px solid #00A6A6;
}

.equipo-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

.equipo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.equipo-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #007B83; /* Color del título del equipo */
}

.jugadores-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.jugador-item {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Negrita para mayor visibilidad */
  font-size: 20px; /* Aumenta el tamaño de la fuente */
  color: #007B83; /* Color celeste oscuro */
  margin-bottom: 8px;
  padding: 8px;
  background-color: #F0FFFF; /* Fondo celeste claro */
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera para el texto */
}

.jugador-item:hover {
  background-color: #E0FFFF; /* Cambio de color al pasar el cursor */
}

.equipo-header svg {
  color: #00A6A6;
  font-size: 24px;
  transition: all 0.3s ease;
}

.equipo-header:hover svg {
  transform: scale(1.2);
}

.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.paginacion button {
  background-color: #00A6A6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginacion button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.paginacion span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #007B83;
}

/* Estilos para la barra de búsqueda */
.equipos-container input[type="text"] {
  width: 200px; /* Ancho reducido de la barra de búsqueda */
  padding: 8px; /* Padding ajustado */
  margin-bottom: 20px;
  border: 2px solid #00A6A6; /* Borde similar al color de los botones */
  border-radius: 4px; /* Bordes más suaves */
  font-family: 'Inter', sans-serif;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #007B83; /* Color de texto similar al del título */
  background-color: #E3FDFD; /* Fondo similar al del contenedor */
  transition: border-color 0.3s ease;
}

.equipos-container input[type="text"]:focus {
  outline: none;
  border-color: #007B83; /* Cambio de color al enfocar la barra de búsqueda */
  box-shadow: 0 0 0 2px rgba(0, 123, 131, 0.2); /* Sombra al enfocar */
}

/* Estilos para dispositivos de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .equipos-container {
    padding: 10px; /* Reducir el padding en pantallas pequeñas */
  }

  .equipos-lista {
    max-width: 100%; /* Aprovechar el ancho total en pantallas pequeñas */
  }

  .equipo-item {
    width: 100%; /* Asegurarse de que los elementos ocupen todo el ancho disponible */
  }

  .jugadores-list {
    padding-left: 20px; /* Ajustar el padding de la lista de jugadores */
  }

  .equipos-container input[type="text"] {
    width: 100%; /* Hacer que la barra de búsqueda ocupe todo el ancho disponible */
  }
}

/* Estilos para dispositivos de hasta 480px de ancho */
@media screen and (max-width: 480px) {
  .equipos-container h2 {
    font-size: 28px; /* Reducir el tamaño del título en pantallas muy pequeñas */
  }

  .equipo-title {
    font-size: 20px; /* Reducir el tamaño del título del equipo */
  }

  .jugador-item {
    font-size: 16px; /* Reducir el tamaño de la fuente de los jugadores */
  }
}
