.upload-container {
  width: 50%; /* Width of the container */
  min-width: 320px;
  height: auto; /* Height of the container */
  background-color: #ffffff; /* Background color */
  border-radius: 24px; /* Border radius for rounded corners */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Center vertically */
  margin: 0 auto;
  flex-direction: column; /* Stack child elements vertically */
}

.upload-header {
  display: flex; /* Usa flexbox para alinear elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}

.upload-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Misma fuente en negrita */
  font-size: 50px; /* Mismo tamaño de fuente */
  letter-spacing: 2px; /* Mismo espaciado entre letras */
  color: #1DB4BB; /* Mismo color de texto */
  text-align: center; /* Centra horizontalmente el texto */
  margin-bottom: 2%;
}

.upload-form{
  width: 80%;
}

.upload-flex label {
  flex: 1;
}

.upload-form label {
  position: relative;
}

.upload-form label .upload-input {
  min-width: 100%;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  box-sizing: border-box;
}

.upload-form label .upload-input + span {
  display: flex; /* Muestra el span en una sola línea */
  /* Mantén tus estilos existentes */
  position: relative;
  left: 10%;
  top: 10%;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.upload-form label .upload-input:placeholder-shown + span {
  /* Mantén tus estilos existentes */
  top: -10px;
  font-size: 0.7em;
}

.upload-form label .upload-input:focus + span,
.upload-form label .upload-input:not(placeholder-shown) + span {
  /* Mantén tus estilos existentes */
  top: -65px;
  font-size: 0.9em;
  font-weight: 600;
}

.upload-form label .upload-input:valid + span {
  color: green;
}
