.upload-container {
  width: 50vw; /* Width of the container */
  min-width: 320px;
  height: auto; /* Height of the container */
  background-color: #ffffff; /* Background color */
  border-radius: 24px; /* Border radius for rounded corners */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Center vertically */
  margin: 0 auto;
  flex-direction: column; /* Stack child elements vertically */
  overflow-y: scroll;
}

.upload-header {
  display: flex; /* Usa flexbox para alinear elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}

.upload-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Misma fuente en negrita */
  font-size: 50px; /* Mismo tamaño de fuente */
  letter-spacing: 2px; /* Mismo espaciado entre letras */
  color: #1DB4BB; /* Mismo color de texto */
  text-align: center; /* Centra horizontalmente el texto */
  margin-bottom: 0;
}



