.after-login-container {
    display: flex;
  }
  
  .after-login-content {
    display: flex;
    position: absolute;
    top: 130px;
    left: 150px;
  }
  
  .welcome-text {
    margin-right: 20px; /* Espacio entre el texto y la flecha */
    font-size: 25px;
  }
  
  .button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    position: relative;
  }
  
  .equipo-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1000px; /* Tamaño de la imagen del futbolista */
    margin-left: 50px; /* Espacio entre el texto y la imagen */
  }
  