.upload-container {
  width: 50vw; /* Ancho del contenedor */
  min-width: 320px;
  height: auto; /* Altura del contenedor */
  background-color: #ffffff; /* Color de fondo */
  border-radius: 24px; /* Radio de borde para esquinas redondeadas */
  display: flex; /* Usa flexbox para el diseño */
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin: 0 auto;
}

.upload-header {
  display: flex; /* Usa flexbox para alinear elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}

.upload-header h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Misma fuente en negrita */
  font-size: 50px; /* Mismo tamaño de fuente */
  letter-spacing: 2px; /* Mismo espaciado entre letras */
  color: #1DB4BB; /* Mismo color de texto */
  text-align: center; /* Centra horizontalmente el texto */
  margin-bottom: 0;
}
